html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Alegreya", serif;
  background-image: url("bookshelf.png");
}

#top {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;

}

section {
  background-color: ivory;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  padding: 8px;
  height: 30%;
  width: 45%;
}